$primaryFont: "font-family: 'Passion One', cursive;";
$secondaryFont: "font-family: 'Roboto', sans-serif;";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    border: 5px solid pink;
    height: 200vh;
    width: 100%;
    user-select: none;
    background-color: #f3f3f3;    
  }
  
  html {  
    font-size: 10px;
  }

  span {
    display: inline-block;
  }
  
  .mainWrap {
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .pageOne {
    border: 5px solid green;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100%;
  }

  .pageTwo {
    border: 5px dashed green;
    position: absolute;
    left: 0px;
    top: 100vh;
    height: 100vh;
    width: 100%;
  }

  .hero {
    border: 5px solid rgb(107, 0, 128);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50%;
    width: 100%;
    &__first-name {
      border: 5px solid rgb(168, 245, 14);
      position: absolute;
      left: 10%;
      top: 10%;
      // height: 113px;
      // width: 586px;
      color: #420000;
      font-family: $primaryFont;
      font-size: 3rem;
      // letter-spacing: 0;
      // line-height: 186px;
      text-align: center;
      & span {
        // letter-spacing: -32px;
        // opacity: 0;
      }
    }
    &__last-name {
      border: 1px solid rgb(58, 87, 1);
      position: absolute;
      left: 10%;
      top: 30%;
      // height: 113px;
      // width: 482px;
      color: #000000;
      font-family: $primaryFont;
      font-size: 3.5rem;
      // letter-spacing: 0;
      // line-height: 186px;
      text-align: center;
      & span {
        // letter-spacing: -32px;
        // opacity: 0;
      }
    }
    &__subtitle {
      border: 1px solid rgb(87, 126, 9);
      position: absolute;
      left: 10%;
      top: 50%;
      // height: 59px;
      // width: 451px;
      color: #666666;
      font-family: $primaryFont;
      font-size: 26px;
      font-style: italic;
      // text-align: left;
      letter-spacing: 0;
      // line-height: 32px;
      opacity: 1;
    }
    &__hero {
      position: absolute;
      right: 20%;
      top: 20%;
      height: 20%;
      // width: 525px;
      z-index: -1;
      opacity: 1;
    }
       
  }

  .main-text {
    border: 5px solid rgb(9, 93, 126);
    opacity: 1;
    z-index: 1;
    height: 50%;
    width: 100%;
    
    position: absolute;
    top: 50%;
    left: 0px;
    &__part-one {
      border: 2px solid rgb(9, 126, 58);
      position: absolute;
      left: 10%;
      top: 20%;
      // height: 50px;
      // width: 655px;
      color: #1F1F1F;
      font-family: "Lato";
      font-size: 16px;
      // letter-spacing: -5px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__part-two {
      border: 2px solid rgb(126, 9, 106);
      position: absolute;
      left: 10%;
      top: 40%;
      // height: 50px;
      // width: 653px;
      color: #1F1F1F;
      font-family: "Lato";
      font-size: 16px;
      // letter-spacing: -5px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__main-text__text {
      text-align: left;
    }

  }
  

  .slider {
    border: 5px solid rgb(126, 9, 9);
    position: absolute;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
    &__blind {
      border: 2px solid rgb(95, 126, 9);
      position: absolute;
      left: 5%;
      top: 5%;
      height: 90%;
      width: 90%;
      background-color: #F9F8F6;
      z-index: 3;
    }
    &__header {
      border: 5px solid rgb(9, 83, 126);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 5%;
      height: 40px;
      width: 80%;
    }
    // &__square1 {
    //   border: 5px solid rgb(126, 9, 116);
    //   position: absolute;
    //   left: 0px;
    //   top: 0px;
    //   height: 100px;
    //   width: 20px;
    //   background-color: #AF8948;
    // }
    &__text-click {
      border: 5px solid rgb(160, 89, 89);
      position: absolute;
      left: 196px;
      top: 5px;
      height: 30px;
      width: 148px;
      color: #1F1F1F;
      font-family: "Lato";
      font-size: 14px;
      letter-spacing: 0;
      line-height: 19px;
    }
    &__text {
      border: 5px solid rgb(117, 160, 89);
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      color: #1F1F1F;
      font-family: "Lato";
      font-size: 22px;
      letter-spacing: 0;
      line-height: 24px;
    }
    &__arrows {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 45px;
      width: 95px;
    }
    &__square4 {
      position: absolute;
      right: 18px;
      top: 13px;
      height: 18px;
      width: 9px;
      border-bottom: 9px solid transparent;
      border-top: 9px solid transparent;      
      border-right: 9px solid #F9F8F6;
    }
    &__square3 {
      position: absolute;
      left: 18px;
      top: 13px;
      height: 18px;
      width: 9px;
      border-bottom: 9px solid transparent;
      border-top: 9px solid transparent;      
      border-left: 9px solid #F9F8F6;
    }
    &__square2L {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 45px;
      width: 45px;
      border: 0.07px solid #FFFFFF;
      opacity: 0.3;
      background-color: #8BB0AF;
    }
    &__square2R {
      position: absolute;
      left: 50px;
      top: 0px;
      height: 45px;
      width: 45px;
      border: 0.07px solid #FFFFFF;
      opacity: 0.3;
      // background-color: #858585;
      background-color: #8BB0AF;
    }
    &__projectList {
      border: 1px solid blueviolet;
      position: absolute;
      left: 5%;
      top: 15%;
      height: 135px;
      width: 10%;
      font-family: "Lato";
      font-size: 10px;
      letter-spacing: 0;
      // line-height: 21px;
      line-height: 19px;
      text-align: left;
      overflow: hidden;
    }
    &__square-5 {
      position: absolute;
      left: 0px;
      height: 11px;
      width: 36px;
      background-color: #8BB0AF;
      z-index: -1;
      transition: 0.75s;
    }
    &__project-link {
        z-index: 0;
        position: absolute;
        left: 0px;
        height: 11px;
        top: 0px;
        width: 36px;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 9px;
          left: -100%;
          background-color: #8BB0AF;
          transition: 0.75s;
          z-index: -1;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover::before {
          left: 0;
        }
        
    }
    &__dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 5px solid #df0909;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5%;
      height: 5%;
      width: 50%;
    }
    &__dot {
      // position: absolute;
      // top: 0px;
      // left: 0px;
      height: 20px;
      width: 20px;
      border: 1px solid #666666;
      border-radius: 50%;
      transition: 0.5s;
      
      cursor: pointer;
      &:hover {
        background-color: #8BB0AF;
        transform: scale(1.4);
      }
    }
    &__screen {
      border: 5px solid rgb(175, 206, 0);
      position: absolute;
      left: 20%;
      top: 20%;
      height: 70%;
      width: 70%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__line {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 2px;
      width: 55px;
      background-color: #8BB0AF;
      z-index: 3;     
    }
    &__description {
      position: absolute;
      right: 5%;
      bottom: 5%;
      height: 20%;
      width: 20%;
      border: 5px solid #ee1919;
      background-color: #2B2B2B;
      z-index: 2;
      font-size: 1rem;
      color: #FFFFFF;
    }
    
    &__projectName {
      border: 5px solid #1d0101;
      position: absolute;
      left: 0px;
      top: 0px;
      // height: 19px;
      // width: 54px;
      color: #FFFFFF;
      font-family: $primaryFont;
      font-size: 1rem;
      font-weight: bold;
      // letter-spacing: 0;
      // line-height: 26px;
      z-index: 3;
    }
    &__projectInfo {
      border: 5px solid #1d0101;
      position: absolute;
      left: 0px;
      top: 20px;
      // height: 19px;
      // width: 54px;
      color: #FFFFFF;
      font-family: $primaryFont;
      font-size: 0.7rem;
      // font-weight: bold;
      // letter-spacing: 0;
      // line-height: 26px;
      z-index: 3;   
    }
    
    &__slider {
      position: absolute;
      left: 5%;
      top: 5%;
      height: 80%;
      width: 80%;
      box-shadow: 0 0 10px 1px #111111;
      z-index: 1;
      background-image: none;
      background-repeat: inherit;
      background-size: contain;
      overflow: hidden;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 5%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #2B2B2B;
    &__info {
      border: 1px solid #c0b0b0;    
      color: #F9F8F6;
      font-family: $secondaryFont;
      font-size: 2rem;
      // letter-spacing: 0;
      // line-height: 23.13px;
      
    }
  }

  .active {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    &:hover {
      background-color: #AF8948;
      opacity: 1;
    }
  }

  .dotActive {
    background-color: #8BB0AF;
  }
  
  
  