<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Bartosz Nowicki - portfolio</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">

</head>

<body>

  <div class="mainWrap">

    <section class="pageOne">

      <header class="hero">

        <h1 class="hero__first-name">
          <span data-name="fist-name">B</span>
          <span data-name="fist-name">a</span>
          <span data-name="fist-name">r</span>
          <span data-name="fist-name">t</span>
          <span data-name="fist-name">o</span>
          <span data-name="fist-name">s</span>
          <span data-name="fist-name">z</span>
        </h1>

        <h2 class="hero__last-name">
          <span data-name="last-name">N</span>
          <span data-name="last-name">o</span>
          <span data-name="last-name">w</span>
          <span data-name="last-name">i</span>
          <span data-name="last-name">c</span>
          <span data-name="last-name">k</span>
          <span data-name="last-name">i</span>
        </h2>

        <p class="hero__subtitle" data-name="hero-subtitle">Front end web developer</p>

        <img alt="Bartosz Nowicki front end developer" data-name="hero-pic" srcset="
        images/BartoszNowicki_sm.png 50w,
        images/BartoszNowicki_md.png 100w,
        images/BartoszNowicki_lg.png 200w,
        images/BartoszNowicki_lg.png 300w," sizes="
        (max-width: 360px) 50px,
        (max-width: 640px) 100px,
        (min-width: 641px) 200px,
        (min-width: 800px) 300px," class="hero__hero" src="images/BartoszNowicki_lg.png">

      </header>



      <section class="main-text" data-name="main-text">

        <article class="main-text__part-one">

          <p class="main-text__text">main-text__text goes here, block part I</p>

        </article>

        <article class="main-text__part-two">

          <p class="main-text__text">main-text__text goes here, block part II</p>

        </article>

      </section>

    </section>




    <section class="pageTwo">

      <div class="slider">

        <div class="slider__header">

          <div class="slider__square1"></div>

          <span class="slider__text">PROJEKTY</span>

        </div>

        <div class="slider__arrows">

          <div class="slider__square2L" data-name="leftArrow">
            <div class="slider__square4"></div>
          </div>
          <div class="slider__square2R" data-name="rightArrow">
            <div class="slider__square3"></div>
          </div>

        </div>

        <div class="slider__projectList">
          <div class="slider__square-5" data-name="projectBg"></div>

          <span class="slider__project-link" data-name="projectLink1">BOMBS</span>
          <span class="slider__project-link" data-name="projectLink2">KIDCHESS</span>
          <span class="slider__project-link" data-name="projectLink3">LANDING PAGE</span>
          <span class="slider__project-link" data-name="projectLink4">SHERIFF</span>
          <span class="slider__project-link" data-name="projectLink5">INTRO</span>
          <span class="slider__project-link" data-name="projectLink6">HANGMAN</span>
          <span class="slider__project-link" data-name="projectLink7">KWADRATY</span>

        </div>

        <div class="slider__dots">

          <div class="slider__dot" data-name="dot1"></div>
          <div class="slider__dot" data-name="dot2"></div>
          <div class="slider__dot" data-name="dot3"></div>
          <div class="slider__dot" data-name="dot4"></div>
          <div class="slider__dot" data-name="dot5"></div>
          <div class="slider__dot" data-name="dot6"></div>
          <div class="slider__dot" data-name="dot7"></div>
        </div>

        <div class="slider__screen">

          <div class="slider__description" data-name="description">
            <span class="slider__projectName" data-name="projectName">BOMBS</span>
            <span class="slider__projectInfo" data-name="projectInfo"></span>
          </div>
          <div class="slider__slider" data-name="screen">
            <div class="slider__blind" data-name="screen-blind"></div>
          </div>

        </div>

      </div>

      <footer class="footer">

        <span class="footer__info">kontakt</span>

      </footer>

    </section>

  </div>

</body>

</html>