<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Bartosz Nowicki - portfolio</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">

</head>

<body>

  <div class="mainWrap">

    <header class="hero">

      <h1 class="hero__first-name">
        <span data-name="fist-name">B</span>
        <span data-name="fist-name">a</span>
        <span data-name="fist-name">r</span>
        <span data-name="fist-name">t</span>
        <span data-name="fist-name">o</span>
        <span data-name="fist-name">s</span>
        <span data-name="fist-name">z</span>
      </h1>

      <h2 class="hero__last-name">
        <span data-name="last-name">N</span>
        <span data-name="last-name">o</span>
        <span data-name="last-name">w</span>
        <span data-name="last-name">i</span>
        <span data-name="last-name">c</span>
        <span data-name="last-name">k</span>
        <span data-name="last-name">i</span>
      </h2>

      <p class="hero__subtitle" data-name="hero-subtitle">Front end web developer</p>

      <img alt="Bartosz Nowicki front end developer" data-name="hero-pic" srcset="
      images/BartoszNowicki_sm.png 50w,
      images/BartoszNowicki_md.png 100w,
      images/BartoszNowicki_lg.png 200w,
      images/BartoszNowicki_lg.png 300w," sizes="
      (max-width: 360px) 50px,
      (max-width: 640px) 100px,
      (min-width: 641px) 200px,
      (min-width: 800px) 300px," class=" hero__hero" src="images/BartoszNowicki_lg.png">

    </header>


    <section class="main-text" data-name="main-text">

      <article class="main-text__part-one">

        <p class="main-text__text">main-text__text goes here, block part I</p>

      </article>

      <article class="main-text__part-two">

        <p class="main-text__text">main-text__text goes here, block part II</p>

      </article>



    </section>


    <section class="main-image-text">

      <p class="main-image-text__heading">heading</p>

      <article class="main-image-text__bio">

        <p class="main-image-text__text">main-image-text__text goes here </p>

      </article>

    </section>


    <section class="m-slider">

      <div class="m-slider__header">

        <div class="m-slider__prostokat-1"></div>

        <span class="m-slider__text-key">PROJEKTY</span>

        <span class="m-slider__text-click">PRZEWIJAJ STRZAŁKAMI</span>

      </div>

      <div class="m-slider__arrows">

        <div class="m-slider__Prostokąt-2L" data-name="leftArrow">
          <div class="m-slider__Prostokąt-4"></div>
        </div>
        <div class="m-slider__Prostokąt-2R" data-name="rightArrow">
          <div class="m-slider__Prostokąt-3"></div>
        </div>

      </div>

      <div class="m-slider__timeline">
        <div class="m-slider__Prostokąt-5" data-name="dateBg"></div>

        <span class="m-slider__date-link" data-name="dateLink1">1917</span>
        <span class="m-slider__date-link" data-name="dateLink2">1940</span>
        <span class="m-slider__date-link" data-name="dateLink3">1963</span>
        <span class="m-slider__date-link" data-name="dateLink4">1971</span>
        <span class="m-slider__date-link" data-name="dateLink5">1974</span>
        <span class="m-slider__date-link" data-name="dateLink6">1997</span>
        <span class="m-slider__date-link" data-name="dateLink7">2001</span>

      </div>

      <div class="m-slider__bullets">

        <div class="dot" data-name="dot1"></div>
        <div class="dot" data-name="dot2"></div>
        <div class="dot" data-name="dot3"></div>
        <div class="dot" data-name="dot4"></div>
        <div class="dot" data-name="dot5"></div>
        <div class="dot" data-name="dot6"></div>
        <div class="dot" data-name="dot7"></div>
      </div>

      <div class="m-slider__item-01">
        <div class="m-slider__line"></div>
        <span class="m-slider__info-item" data-name="infoItem"></span>
        <span class="m-slider__date-item" data-name="dateItem">1917</span>
        <div class="m-slider__box" data-name="box"></div>
        <div class="m-slider__slider-1" data-name="screen">
          <div class="m-slider__blind" data-name="screen-blind"></div>
        </div>

      </div>

    </section>

    <footer class="footer">

      <div class="footer__warstwa-3"></div>

      <span class="footer__sources"></span>

    </footer>

  </div>

</body>

</html>